/A.class
/Declareint.class
/Devisblebyseven.class
/Divsible357.class
/Forloop.class
/IncrementProgram.class
/Incrementvalue2.class
/Main.class
/Naturalno.class
/Onetohundredthreemultiply.class
/Operator.class
/Peramid.class
/Peramid2.class
/Peramidifelse.class
/Reverse.class
/Reverseno.class
/Reversestar.class
/ScannerEvenOdd.class
/Scannermultiply.class
/StarPattern.class
/StarPattern1.class
/StarPattern2.class
/StarPattern4.class
/Startpattern3.class
/Triangle.class
/UserinputDemo.class
/UserinputDemo1.class
/Userinputstar.class
/Userinputtable.class
/fisrtclass.class
/fivestar.class
/table.class
