/Boolean.class
/Concat.class
/EvenOdd.class
/Fifth.class
/GreatestNo.class
/IfCondition.class
/IfCondition2.class
/IfDemo.class
/IfElseCondtion.class
/Lenghtof.class
/Lessthan.class
/Marks.class
/PositiveNegetive.class
/ScannerPositiveNegative.class
/Scannercondition.class
/Scannergreatestno.class
/String1.class
/Stringmethod.class
/SwitchCase.class
